@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("https://images.unsplash.com/photo-1469353680598-5dc830efef5c?dpr=2&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop");
}

.mode-container {
    margin-top: 15px;
}

.btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mode-btn {
    margin: 0 10px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0);
    border: none;
}

.mode-btn:focus {
    border: none;
    outline-style: none;
}

.mode-btn:hover {
    border: 0.5px solid white;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.mode-btn-clicked {
    background: rgba(255, 255, 255, 0.3)
}

.mode-btn-container {
    height: 45px;
}

.clock {
    font-size: 100px;
    width: 100%;
}

.center-div {
    margin: auto;
    padding-top: 6%;
    border-radius: 3px;
    color: white;
}

.time-btn {
    margin: 0 5px;
    line-height: 30px;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
    background: transparent;
}

.time-btn:hover {
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.63);
    -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.63);
    background: transparent;
    color: darkgray;
}

.action-btn {
    background: rgb(240, 120, 90);
    margin: 0 5px;
    width: 180px;
    height: 45px;
    font-size: 15px;
    position: relative;
    top: 0;
    transition: top ease 0.3s;
}

.action-btn:hover {
    top: -7px;
    box-shadow: 0px 19px 22px -3px rgba(0, 0, 0, 0.63);
}

.action-btn:focus:hover {
  box-shadow: 0px 19px 22px -3px rgba(0, 0, 0, 0.63);
}

.action-container {
    margin: 30px 0;
}

.box {
    position: absolute;
    top: 0;
    right: 0;
}

.music-box {
    margin: 0 10px;
}

.check-btn {
    background: transparent;
    border: none;
    color: white;
    outline-style: none;
}

.check-btn:focus {
    border: none;
    outline-style: none;
}

.music-container {
    margin-top: 40px;
}

.time-row {
    margin: 15px 0;
}

.main-title {
    width: 100%;
    font-size: 45px;
    margin-bottom: 10px;
}

.default-text {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.about-container {
    margin-top: 120px;
    margin-bottom: 15px;
}

.about {
    color: white;
    text-transform: uppercase;
}

.about:hover {
    text-decoration: none;
    color: white;
}

.show {
    display: block;
}

.hide {
    display: none;
}